.changeInfo {
  :global {
    .inner {
      .ant-row > div {
        border: 1px solid #c1c1c1;
      }

      .inner-title {
        background: #294487;
        color: #fff;
        font-size: 20px;
        font-weight: 500;

        .inner-row {
          .inner-col {
            text-align: center;
          }
        }
      }

      .inner-data {
        .inner-row {
          height: 41px;

          .inner-content {
            text-align: center;
            line-height: 41px;
          }
        }

        .ant-col-12 {
          border: none;

          .ant-row {
            .ant-form-item-control-wrapper {
              height: 42px;
            }
          }
        }

        .inner-row-new {
          height: 40px;
          border: none;
        }

        //.ant-row {
        //  .inner-row {
        //     border: none;
        //   }
        //
        //  .ant-col-12 {
        //    border: none;
        //  }
        //}
      }
    }
  }
}
